<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Classic Official Website </title>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"> 
<link rel="stylesheet" href="http://localhost:3000/stylesheets/index.css"/>  

	  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
   <!--humburger icon & sidebar script-->
   <script type="text/javascript">
	 $(document).ready(function(){
	 $('.menu-icon').click(function(){
	    $('.menu-icon').toggleClass('active');	
	 });
	  $('.menu-icon').click(function(){
	    $('.sidebar').toggleClass('active');
		
	 });
	 });
   </script>
      <!--footer script-->
 <script type="text/javascript">
	 $(document).ready(function(){
	 $('.company li').click(function(){
	    $('.comp').toggleClass('active');
		 $('.company-icon').toggleClass('active');
	 });
	 });
   </script>
   
   <script type="text/javascript">
	 $(document).ready(function(){
	 $('.customer li').click(function(){
	    $('.cust').toggleClass('active');
		 $('.customer-icon').toggleClass('active');
	 });
	 });
   </script>
   
   <script type="text/javascript">
	 $(document).ready(function(){
	 $('.help li').click(function(){
	    $('.hel').toggleClass('active');
		 $('.help-icon').toggleClass('active');
	 });
	 });
   </script>
   
   <!--sidebar script-->
   <script type="text/javascript">
	 $(document).ready(function(){
	 $('.newIn li').click(function(){
	    $('.new').toggleClass('active');
		 $('.newIn-icon').toggleClass('active');
	 });
	 });
   </script>
   
   <script type="text/javascript">
	 $(document).ready(function(){
	 $('.woman li').click(function(){
	    $('.wom').toggleClass('active');
		 $('.woman-icon').toggleClass('active');
	 });
	 });
   </script>
   
   <script type="text/javascript">
	 $(document).ready(function(){
	 $('.woman2 li').click(function(){
	    $('.wom2').toggleClass('active');
		 $('.woman2-icon').toggleClass('active');
	 });
	 });
   </script>
   
    <script type="text/javascript">
	 $(document).ready(function(){
	 $('.woman3 li').click(function(){
	    $('.wom3').toggleClass('active');
		 $('.woman3-icon').toggleClass('active');
	 });
	 });
   </script>
   
   <script type="text/javascript">
	 $(document).ready(function(){
	 $('.man li').click(function(){
	    $('.ma').toggleClass('active');
		 $('.man-icon').toggleClass('active');
	 });
	 });
   </script>
   
   <script type="text/javascript">
	 $(document).ready(function(){
	 $('.man2 li').click(function(){
	    $('.ma2').toggleClass('active');
		 $('.man2-icon').toggleClass('active');
	 });
	 });
   </script>
   
   <script type="text/javascript">
	 $(document).ready(function(){
	 $('.kids li').click(function(){
	    $('.kid').toggleClass('active');
		 $('.kids-icon').toggleClass('active');
	 });
	 });
   </script>
   
    <script type="text/javascript">
	 $(document).ready(function(){
	 $('.kids2 li').click(function(){
	    $('.kid2').toggleClass('active');
		 $('.kids2-icon').toggleClass('active');
	 });
	 });
   </script>
   
   <script type="text/javascript">
	 $(document).ready(function(){
	 $('.accessories li').click(function(){
	    $('.acce').toggleClass('active');
		 $('.accessories-icon').toggleClass('active');
	 });
	 });
   </script>
   
    <script type="text/javascript">
	 $(document).ready(function(){
	 $('.accessories2 li').click(function(){
	    $('.acce2').toggleClass('active');
		 $('.accessories2-icon').toggleClass('active');
	 });
	 });
   </script>
   
   <script type="text/javascript">
	 $(document).ready(function(){
	 $('.kurtas li').click(function(){
	    $('.kurt').toggleClass('active');
		 $('.kurtas-icon').toggleClass('active');
	 });
	 });
   </script>
   
   <script type="text/javascript">
	 $(document).ready(function(){
	 $('.bottomss li').click(function(){
	    $('.bott').toggleClass('active');
		 $('.bottomss-icon').toggleClass('active');
	 });
	 });
   </script>
   
   <script type="text/javascript">
	 $(document).ready(function(){
	 $('.waist li').click(function(){
	    $('.wais').toggleClass('active');
		 $('.waist-icon').toggleClass('active');
	 });
	 });
   </script>
   
   <script type="text/javascript">
	 $(document).ready(function(){
	 $('.girls li').click(function(){
	    $('.girl').toggleClass('active');
		 $('.girls-icon').toggleClass('active');
	 });
	 });
   </script>
   
   <script type="text/javascript">
	 $(document).ready(function(){
	 $('.gwest li').click(function(){
	    $('.gwes').toggleClass('active');
		 $('.gwest-icon').toggleClass('active');
	 });
	 });
   </script>
   
   <script type="text/javascript">
	 $(document).ready(function(){
	 $('.boys li').click(function(){
	    $('.boy').toggleClass('active');
		 $('.boys-icon').toggleClass('active');
	 });
	 });
   </script>
   
   <script type="text/javascript">
	 $(document).ready(function(){
	 $('.bwest li').click(function(){
	    $('.bwes').toggleClass('active');
		 $('.bwest-icon').toggleClass('active');
	 });
	 });
   </script>
   
      <script type="text/javascript">
	 $(document).ready(function(){
	 $('.other li').click(function(){
	    $('.oth').toggleClass('active');
		 $('.other-icon').toggleClass('active');
	 });
	 });
   </script>
   
   <script type="text/javascript">
	 $(document).ready(function(){
	 $('.unstitched li').click(function(){
	    $('.unsti').toggleClass('active');
		 $('.unstitched-icon').toggleClass('active');
	 });
	 });
   </script>
   
   <script type="text/javascript">
	 $(document).ready(function(){
	 $('.pret li').click(function(){
	    $('.pre').toggleClass('active');
		 $('.pret-icon').toggleClass('active');
	 });
	 });
   </script>
   
   <script type="text/javascript">
	 $(document).ready(function(){
	 $('.khaas li').click(function(){
	    $('.khaa').toggleClass('active');
		 $('.khaas-icon').toggleClass('active');
	 });
	 });
   </script>
   
   <script type="text/javascript">
	 $(document).ready(function(){
	 $('.bott2 li').click(function(){
	    $('.bot2').toggleClass('active');
		 $('.bott2-icon').toggleClass('active');
	 });
	 });
   </script>
   
</head>
<body>
<!--Header Showcase-->
<header id="showcase" class="grid">

<div class="top" id="top">FREE SHIPMENT NATIONWIDE</div>
<div class="middle" id="middle">
<ul class="mid">
<li class="mi"><span><a href="tel:03002077214"><i class="fas fa-phone fa-1x"></i></a></span></li>
<li class="mi">welcome</li>
<li class="mi"><i class="fas fa-user fa-1x"></i></li>
</ul>
</div>
<div class="bottom" id="bottom">
<ul class="bot">
<li class="bo"><div class="menu-icon">
 <span></span>
 <span></span>
 <span></span>
 
 </div>


 </li>
<li class="bo"><a href="/"><img src="../images/favicon.ico"/></a></li>
<li class="bo"><span><i class="fas fa-shopping-basket fa-2x"></i></span></li>
</ul>
</div>

</header>
<!--sidebar-->
 <div class="sidebar" class="grid">
 
 <ul class="newIn">
 <li>New In</li>
 <li><div class="newIn-icon">
 <span></span>
 <span></span>
 <span></span>
 </div>
 </li>
 </ul>
 <hr/>
 
 <ul class="new">
 <li><ul class="woman">
<li>Woman</li>
<li><div class="woman-icon">
 <span></span>
 <span></span>
 <span></span>
 </div></li>
</ul>
</li>
<ul class="wom">
<li><a href="http://localhost:3000/newIn/unstitched">Unstitched </a></li>
<li><a href="http://localhost:3000/newIn/pret">Pret</a></li>
<li><a href="http://localhost:3000/newIn/khaas">Khaas</a></li>
<li><a href="http://localhost:3000/newIn/bottoms">Bottoms</a></li>
</ul>


<li><ul class="man">
 <li>Man</li>
 <li><div class="man-icon">
 <span></span>  
 <span></span>
 <span></span>
 </div></li>
 </ul>
 </li>
 <ul class="ma">
<li><a href="http://localhost:3000/newIn/kurta">Kurta</a></li>
<li><a href="http://localhost:3000/newIn/shalwarKameez">Shalwar Kameez</a></li>
</ul>

 
 
 <li><ul class="kids">
<li>Kids</li>
<li><div class="kids-icon">
 <span></span>
 <span></span>
 <span></span>
 </div></li>
</ul>
</li>
 <ul class="kid">
<li><a href="http://localhost:3000/newIn/boys">Boys</a></li>
<li><a href="http://localhost:3000/newIn/girls">Girls</a></li>

</ul>
 
 <li><ul class="accessories">
 <li>Accessories</li>
 <li><div class="accessories-icon">
 <span></span>  
 <span></span>
 <span></span>
 </div></li>
 </ul><hr>
 </li>
 <ul class="acce">
<li><a href="http://localhost:3000/newIn/woman">Woman</a></li>
<li><a href="http://localhost:3000/newIn/others">Others</a></li>

</ul>

 </ul> 
 
 <ul class="woman2">
 <li>Woman</li>
 <li><div class="woman2-icon">
 <span></span>
 <span></span>
 <span></span>
 </div>
 </li>
 </ul>
 <hr/>
 <ul class="wom2">
<li><ul class="unstitched">
 <li>Unstitched</li>
 <li><div class="unstitched-icon">
 <span></span>
 <span></span>
 <span></span>
 </div>
 </li>
 </ul>
 
 <ul class="unsti">
<li><a href="http://localhost:3000/woman/twopc_summer_vibes">2PC-SUMMER VIBES</a></li>
<li><a href="http://localhost:3000/woman/luxury_collection">LUXURY COLLECTION</a></li>
<li><a href="http://localhost:3000/woman/lawn_vol_1">LAWN VOL.1</a></li>
<li><a href="http://localhost:3000/woman/lawn_vol_2">LAWN VOL.2</a></li>
</ul></li>


<li><ul class="pret">
 <li>PRET</li>
 <li><div class="pret-icon">
 <span></span>
 <span></span>
 <span></span>
 </div>
 </li>
 </ul>
 
 <ul class="pre">
<li><a href="http://localhost:3000/woman/kurta">KURTA</a></li>

</ul></li>

<li><ul class="khaas">
 <li>KHAAS</li>
 <li><div class="khaas-icon">
 <span></span>
 <span></span>
 <span></span>
 </div>
 </li>
 </ul>
 
 <ul class="khaa">
<li><a href="http://localhost:3000/woman/semi_formals">SEMI FORMALS</a></li>
<li><a href="http://localhost:3000/woman/casual">CASUAL</a></li>

</ul></li>

<li><ul class="bott2">
 <li>BOTTOM</li>
 <li><div class="bott2-icon">
 <span></span>
 <span></span>
 <span></span>
 </div>
 </li>
 </ul>
 
 <ul class="bot2">
<li><a href="http://localhost:3000/woman/formal_pants">FORMAL PANTS</a></
<li><a href="http://localhost:3000/woman/pants">PANTS</a></li>
<li><a href="http://localhost:3000/woman/shalwar">SHALWAR</a></li>
<li><a href="http://localhost:3000/woman/denim">DENIM</a></li>
<li><a href="http://localhost:3000/woman/tights">TIGHTS</a></li>

</ul></li>

</ul>

<ul class="man2">
 <li>Man</li>
 <li><div class="man2-icon">
 <span></span>  
 <span></span>
 <span></span>
 </div></li>
 </ul><hr/>
 <ul class="ma2">

 <li><ul class="kurtas">
 <li>Kurtas</li>
 <li><div class="kurtas-icon">
 <span></span>  
 <span></span>
 <span></span>
 </div></li>
 </ul>
 </li>
 
 <ul class="kurt">
<li><a href="http://localhost:3000/man/basicKurta">Basic Kurta </a></li>
<li><a href="http://localhost:3000/man/kurtaShalwar">Kurta Shalwar</a></li>
<li><a href="http://localhost:3000/man/shalwarKameez">Shalwar Kameez</a></li>
<li><a href="http://localhost:3000/man/shortKurta">Short Kurta</a></li>
</ul>

<li><ul class="bottomss">
 <li>Bottom</li>
 <li><div class="bottomss-icon">
 <span></span>  
 <span></span>
 <span></span>
 </div></li>
 </ul>
 </li>
 
 <ul class="bott">
<li><a href="http://localhost:3000/man/pajama">Pajama </a></li>
<li><a href="http://localhost:3000/man/shalwar">shalwar</a></li>

</ul>
 

<li><ul class="waist">
 <li>WaistCoats</li>
 <li><div class="waist-icon">
 <span></span>  
 <span></span>
 <span></span>
 </div></li>
 </ul>
 </li>
 
  <ul class="wais">
<li><a href="http://localhost:3000/man/embroidered">Embroidered</a></li>
<li><a href="http://localhost:3000/man/classic">Classic</a></li>

</ul>

 
</ul>
 
<ul class="kids2">
<li>Kids</li>
<li><div class="kids2-icon">
 <span></span>
 <span></span>
 <span></span>
 </div></li>
</ul><hr/>

<ul class="kid2">
<li> <ul class="girls">
 <li>Girls Ethnic</li>
 <li><div class="girls-icon">
 <span></span>  
 <span></span>
 <span></span>
 </div></li>
 </ul>
 </li>
 <ul class="girl">
 <li><a href="http://localhost:3000/kids/kurta">Kurta </a></li>
 <li><a href="http://localhost:3000/kids/kurtaPajama">Kurta Pajama</a></li>
 <li><a href="http://localhost:3000/kids/pants">Pants</a></li>
 <li><a href="http://localhost:3000/kids/formalSuits">Formal Suits</a></li>
</ul> 
 


<li><ul class="gwest">
 <li>Girls Western</li>
 <li><div class="gwest-icon">
 <span></span>  
 <span></span>
 <span></span>
 </div></li>
 </ul><hr/>
 </li>
 <ul class="gwes">
 <li><a href="http://localhost:3000/kids/blouses">Blouses</a></li>
 <li><a href="http://localhost:3000/kids/dresses">Dresses</a></li>
 <li><a href="http://localhost:3000/kids/tights">Tights</a></li>
 <li><a href="http://localhost:3000/kids/pants">Pants</a></li>
</ul> 
 

 
 <li><ul class="boys">
 <li>Boys Ethnic</li>
 <li><div class="boys-icon">
 <span></span>  
 <span></span>
 <span></span>
 </div></li>
 </ul><hr/>
 </li>
 <ul class="boy">
 <li><a href="http://localhost:3000/kids/kurta">Kurta</a></li>
 <li><a href="http://localhost:3000/kids/kurtaPajama">Kurta Pajama</a></li>
 <li><a href="http://localhost:3000/kids/waistcoat">WaistCoat</a></li>
 <li><a href="http://localhost:3000/kids/shalwar">Shalwar</a></li>
</ul> 
 
<li><ul class="bwest">
 <li>Boys Western</li>
 <li><div class="bwest-icon">
 <span></span>  
 <span></span>
 <span></span>
 </div></li>
 </ul><hr/>
 </li>
 <ul class="bwes">
 <li><a href="http://localhost:3000/kids/denim">Denim</a></li>
 <li><a href="http://localhost:3000/kids/tShirts">T-Shirts</a></li>
 <li><a href="http://localhost:3000/kids/shirts">Shirts</a></li>
 
</ul> 

</ul>

<ul class="accessories2">
<li>Accessories</li>
<li><div class="accessories2-icon">
 <span></span>
 <span></span>
 <span></span>
 </div></li>
</ul><hr/>

<ul class="acce2">
<li><ul class="woman3">
<li>Woman</li>
<li><div class="woman3-icon">
 <span></span>
 <span></span>
 <span></span>
 </div></li>
</ul></li>
<ul class="wom3">
<li><a href="http://localhost:3000/accessories/footwear">FootWear</a></li>
<li><a href="http://localhost:3000/accessories/fragrance">Fragrance</a></li>
<li><a href="http://localhost:3000/accessories/jewelry">Jewelry</a></li>
<li><a href="http://localhost:3000/accessories/handbags">HandBags</a></li>
<li><a href="http://localhost:3000/accessories/clutches">Clutches</a></li>
<li><a href="http://localhost:3000/accessories/scarves">Scarves</a></li>
<li><a href="http://localhost:3000/accessories/sunglasses">SunGlasses</a></li>
<li><a href="http://localhost:3000/accessories/wallets">Wallets</a></li>
<li><a href="http://localhost:3000/accessories/dupatta">Dupatta</a></li>
<li><a href="http://localhost:3000/accessories/stole">Stole</a></li>
<li><a href="http://localhost:3000/accessories/tankTops">Tank Tops</a></li>
</ul>
<li><ul class="girls">
<li>Girls</li>
<li><div class="girls-icon">
 <span></span>
 <span></span>
 <span></span>
 </div></li>
</ul><hr/>
</li>
<ul class="girl">
<li><a href="http://localhost:3000/accessories/bags">Bags</a></li>
<li><a href="http://localhost:3000/accessories/hairAccessories">Hair Accessories</a></li>
<li><a href="http://localhost:3000/accessories/jewelry">Jewelry</a></li>

</ul>
<li><ul class="other">
<li>Others</li>
<li><div class="other-icon">
 <span></span>
 <span></span>
 <span></span>
 </div></li>
</ul><hr/>
</li>
<ul class="oth">
<li><a href="http://localhost:3000/accessories/notebooks">NoteBooks</a></li>

</ul>

</ul>

 <ul class="social-icon">
    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
	<li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
	<li><a href="#"><i class="fab fa-google-plus"></i></a></li>
	<li><a href="#"><i class="fab fa-instagram"></i></a></li>
	<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
 </ul>
 </div>

 
 <!--slider start-->
 <div class="wrap">
 <div id="arrow-left" class="arrow"></div>
 <div id="slider">
 <div class="slide slide1">
 <div class="slide-content">
 <span>unstitched</span>
 </div>
 </div>
 
 <div class="slide slide2">
 <div class="slide-content">
 <span>ready made</span>
 </div>
 </div>
 
 <div class="slide slide3">
 <div class="slide-content">
 <span>Image Three</span>
 </div>
 </div>
 
 
 </div>
<div id="arrow-right" class="arrow"></div>
<script type="text/javascript">
let sliderImages = document.querySelectorAll('.slide'),
    arrowLeft = document.querySelector('#arrow-left'),
	arrowRight = document.querySelector('#arrow-right');
	current = 0;
	
	function reset(){
	for(let i=0; i< sliderImages.length; i++){
	 sliderImages[i].style.display = 'none';
	}
	}
	// Init slider
   function startSlide(){
   reset();
   sliderImages[0].style.display = 'block';
   }
   // show prev
   function slideLeft(){
   reset();
   sliderImages[current - 1].style.display = 'block';
   current--;
   }
   //show next
   function slideRight(){
   reset();
   sliderImages[current + 1].style.display = 'block';
   current++;
   }
   
   //left arrow click
   arrowLeft.addEventListener('click', function(){
   if(current === 0){
   current = sliderImages.length;
   }
   slideLeft();
   });
      //right arrow click
   arrowRight.addEventListener('click', function(){
   if(current=== sliderImages.length - 1){
   current = -1;
   }
   slideRight();
   });
   
	startSlide();
	</script>

 </div>
 <!--slider end-->
 
 <!--section B-->
 <section id="section-b" class="grid">
 <ul>
 <li>
 <div class="card">
 <a href="http://localhost:3000/woman/twopc_summer_vibes"><img src="http://localhost:3000/images/img1.jpg" alt=""></a>
 <div class="card-content">
 <h3 class="card-title">Unstitched</h3>
 <a href="#" class="btn">Shop Now</a>
 </div>
 </div>
 </li>
  <li>
 <div class="card">
 <a href="#"><img src="http://localhost:3000/images/img2.jpg" alt=""></a>
 <div class="card-content">
 <h3 class="card-title">READY. SET. PRET.</h3>
 <a href="#" class="btn">Shop Now</a>
 </div>
 </div>
 </li>
  <li>
 <div class="card">
 <a href="#"><img src="http://localhost:3000/images/img3.jpg" alt=""></a>
 <div class="card-content">
 <h3 class="card-title">Kids</h3>
 <a href="#" class="btn">Shop Now</a>
 </div>
 </div>
 </li>
   <li>
 <div class="card">
 <a href="#"><img src="http://localhost:3000/images/img4.jpg" alt=""></a>
 <div class="card-content">
 <h3 class="card-title">Man</h3>
 <a href="#" class="btn">Shop Now</a>
 </div>
 </div 
 </li>
 </ul>
 </section>
<div class="logo">
 <a href="/"><img src="../images/favicon.ico"/></a>
 </div>
 
<!--Footer-->
<footer id="main-footer" class="grid">
<ul class="company">
<li>COMPNAY</li>
<li><div class="company-icon">
 <span></span>
 <span></span>
 <span></span>
 </div>
 </li>
</ul>

<div id="line"></div>

 <ul class="comp">
 <li><a href="http://localhost:3000/home/about">About us </a></li>
 <li><a href="http://localhost:3000/home/career">Careers at Classic</a></li>
 <li><a href="http://localhost:3000/home/contact">Contact us</a></li>
</ul> 


<ul class="customer">
<li>CUSTOMER SUPPORT</li>
<li><div class="customer-icon">
 <span></span>
 <span></span>
 <span></span>
 </div></li>
</ul>

<div id="line"></div>

<ul class="cust">
<li><a href="http://localhost:3000/home/customer">Customer Service </a></li>
<li><a href="http://localhost:3000/home/storelocator">Store Locator </a></li>
<li><a href="http://localhost:3000/home/handling">Shipping & Handling</a></li>
<li><a href="http://localhost:3000/home/exchange">Return & Exchange</a></li>
<li><a href="http://localhost:3000/home/disclaimer">Disclaimer</a></li>
</ul>

 
 <ul class="help">
 <li>HELP</li>
 <li><div class="help-icon">
 <span></span>  
 <span></span>
 <span></span>
 </div></li>
 </ul>
 
 <div id="line"></div>

 <ul class="hel">
<li><a href="http://www.tcscouriers.com/pk/Tracking/Default.aspx" target="_blank">Track Your Order </a></li>
<li><a href="http://localhost:3000/home/term">Terms & Conditions</a></li>
<li><a href="http://localhost:3000/home/privacy">Privacy Policy</a></li>

</ul>


</footer>
<!--newsletter-->
<div class="sign" class="grid">
<p class="news">SIGN UP FOR OUR NEWSLETTER:</p>
<form action="/#">

<ul class="sin">
<li class="si"><input type="text" name="signup" placeholder="Enter your email address:"/></li>
<li class="si"><input type="submit" id="s" value="Sign Up"/></li>
</ul>
<hr>
</form>
</div>
<!--advertisement-->
<div class="adver" class="grid">
<ul class="adv">
    <li><a href="#"><i class="fab fa-facebook fa-2x"></i></a></li>
	<li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
	<li><a href="#"><i class="fab fa-google-plus fa-2x"></i></a></li>
	<li><a href="#"><i class="fab fa-instagram fa-2x"></i></a></li>
	<li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>

</ul>
</div>
<!--copyright-->
<div class="copy" class="grid">
<p>Copyright &copy 2018 Classic Fabrics.All Rights reserved.</p>
</div>

</body>


</html>

