<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Classic Official Website </title>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"> 
<link rel="stylesheet" href="http://localhost:3000/stylesheets/index.css"/>  
	  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
   <!--humburger icon & sidebar script-->
   <script type="text/javascript">
	 $(document).ready(function(){
	 $('.menu-icon').click(function(){
	    $('.menu-icon').toggleClass('active');	
	 });
	  $('.menu-icon').click(function(){
	    $('.sidebar').toggleClass('active');
		
	 });
	 });
   </script>
      <!--footer script-->
 <script type="text/javascript">
	 $(document).ready(function(){
	 $('.company li').click(function(){
	    $('.comp').toggleClass('active');
		 $('.company-icon').toggleClass('active');
	 });
	 });
   </script>
   
   <script type="text/javascript">
	 $(document).ready(function(){
	 $('.customer li').click(function(){
	    $('.cust').toggleClass('active');
		 $('.customer-icon').toggleClass('active');
	 });
	 });
   </script>
   
   <script type="text/javascript">
	 $(document).ready(function(){
	 $('.help li').click(function(){
	    $('.hel').toggleClass('active');
		 $('.help-icon').toggleClass('active');
	 });
	 });
   </script>
   
   <!--sidebar script-->
   <script type="text/javascript">
	 $(document).ready(function(){
	 $('.newIn li').click(function(){
	    $('.new').toggleClass('active');
		 $('.new-icon').toggleClass('active');
	 });
	 });
   </script>
   
   <script type="text/javascript">
	 $(document).ready(function(){
	 $('.woman li').click(function(){
	    $('.wom').toggleClass('active');
		 $('.woman-icon').toggleClass('active');
	 });
	 });
   </script>
   
   <script type="text/javascript">
	 $(document).ready(function(){
	 $('.woman2 li').click(function(){
	    $('.wom2').toggleClass('active');
		 $('.woman2-icon').toggleClass('active');
	 });
	 });
   </script>
   
    <script type="text/javascript">
	 $(document).ready(function(){
	 $('.woman3 li').click(function(){
	    $('.wom3').toggleClass('active');
		 $('.woman3-icon').toggleClass('active');
	 });
	 });
   </script>
   
   <script type="text/javascript">
	 $(document).ready(function(){
	 $('.man li').click(function(){
	    $('.ma').toggleClass('active');
		 $('.man-icon').toggleClass('active');
	 });
	 });
   </script>
   
   <script type="text/javascript">
	 $(document).ready(function(){
	 $('.man2 li').click(function(){
	    $('.ma2').toggleClass('active');
		 $('.man2-icon').toggleClass('active');
	 });
	 });
   </script>
   
   <script type="text/javascript">
	 $(document).ready(function(){
	 $('.kids li').click(function(){
	    $('.kid').toggleClass('active');
		 $('.kids-icon').toggleClass('active');
	 });
	 });
   </script>
   
    <script type="text/javascript">
	 $(document).ready(function(){
	 $('.kids2 li').click(function(){
	    $('.kid2').toggleClass('active');
		 $('.kids2-icon').toggleClass('active');
	 });
	 });
   </script>
   
   <script type="text/javascript">
	 $(document).ready(function(){
	 $('.accessories li').click(function(){
	    $('.acce').toggleClass('active');
		 $('.accessories-icon').toggleClass('active');
	 });
	 });
   </script>
   
    <script type="text/javascript">
	 $(document).ready(function(){
	 $('.accessories2 li').click(function(){
	    $('.acce2').toggleClass('active');
		 $('.accessories2-icon').toggleClass('active');
	 });
	 });
   </script>
   
   <script type="text/javascript">
	 $(document).ready(function(){
	 $('.kurtas li').click(function(){
	    $('.kurt').toggleClass('active');
		 $('.kurtas-icon').toggleClass('active');
	 });
	 });
   </script>
   
   <script type="text/javascript">
	 $(document).ready(function(){
	 $('.bottomss li').click(function(){
	    $('.bott').toggleClass('active');
		 $('.bottomss-icon').toggleClass('active');
	 });
	 });
   </script>
   
   <script type="text/javascript">
	 $(document).ready(function(){
	 $('.waist li').click(function(){
	    $('.wais').toggleClass('active');
		 $('.waist-icon').toggleClass('active');
	 });
	 });
   </script>
   
   <script type="text/javascript">
	 $(document).ready(function(){
	 $('.girls li').click(function(){
	    $('.girl').toggleClass('active');
		 $('.girls-icon').toggleClass('active');
	 });
	 });
   </script>
   
   <script type="text/javascript">
	 $(document).ready(function(){
	 $('.gwest li').click(function(){
	    $('.gwes').toggleClass('active');
		 $('.gwest-icon').toggleClass('active');
	 });
	 });
   </script>
   
   <script type="text/javascript">
	 $(document).ready(function(){
	 $('.boys li').click(function(){
	    $('.boy').toggleClass('active');
		 $('.boys-icon').toggleClass('active');
	 });
	 });
   </script>
   
   <script type="text/javascript">
	 $(document).ready(function(){
	 $('.bwest li').click(function(){
	    $('.bwes').toggleClass('active');
		 $('.bwest-icon').toggleClass('active');
	 });
	 });
   </script>
   
      <script type="text/javascript">
	 $(document).ready(function(){
	 $('.other li').click(function(){
	    $('.oth').toggleClass('active');
		 $('.other-icon').toggleClass('active');
	 });
	 });
   </script>
     
</head>
<body>
<!--Header Showcase-->
<header id="showcase" class="grid">

<div class="top" id="top">FREE SHIPMENT NATIONWIDE</div>
<div class="middle" id="middle">
<ul class="mid">
<li class="mi"><span><a href="tel:03002077214"><i class="fas fa-phone fa-1x"></i></a></span></li>
<li class="mi">welcome</li>
<li class="mi"><i class="fas fa-user fa-1x"></i></li>
</ul>
</div>
<div class="bottom" id="bottom">
<ul class="bot">
<li class="bo"><div class="menu-icon">
 <span></span>
 <span></span>
 <span></span>
 
 </div>


 </li>
<li class="bo"><a href="/"><img src="../images/favicon.ico"/></a></li>
<li class="bo"><span><i class="fas fa-shopping-basket fa-2x"></i></span></li>
</ul>
</div>
<div id="line"></div>
</header>
 <div class="sidebar">
 
 <ul class="newIn">
 <li>New In</li>
 <li><div class="new-icon">
 <span></span>
 <span></span>
 <span></span>
 </div>
 </li>
 </ul>
 <hr/>
 
 <ul class="new">
 <li><ul class="woman">
<li>Woman</li>
<li><div class="woman-icon">
 <span></span>
 <span></span>
 <span></span>
 </div></li>
</ul><hr/>
</li>
<ul class="wom">
<li><a href="http://#" target="_blank">Unstitched </a></li>
<li><a href="http://#" target="_blank">Pret</a></li>
<li><a href="http://#" target="_blank">Khaas</a></li>
<li><a href="http://#" target="_blank">Bottoms</a></li>
</ul>


<li><ul class="man">
 <li>Man</li>
 <li><div class="man-icon">
 <span></span>  
 <span></span>
 <span></span>
 </div></li>
 </ul><hr/>
 </li>
 <ul class="ma">
<li><a href="http://#" target="_blank">Kurta</a></li>
<li><a href="http://#" target="_blank">Shalwar Qameez</a></li>
</ul>

 
 
 <li><ul class="kids">
<li>Kids</li>
<li><div class="kids-icon">
 <span></span>
 <span></span>
 <span></span>
 </div></li>
</ul><hr/>
</li>
 <ul class="kid">
<li><a href="http://#" target="_blank">Boys</a></li>
<li><a href="http://#" target="_blank">Girls</a></li>

</ul>
 
 <li><ul class="accessories">
 <li>Accessories</li>
 <li><div class="accessories-icon">
 <span></span>  
 <span></span>
 <span></span>
 </div></li>
 </ul><hr/>
 </li>
 <ul class="acce">
<li><a href="http://#" target="_blank">Woman</a></li>
<li><a href="http://#" target="_blank">Others</a></li>

</ul>

 </ul> 
 
 <ul class="woman2">
 <li>Woman</li>
 <li><div class="woman2-icon">
 <span></span>
 <span></span>
 <span></span>
 </div>
 </li>
 </ul>
 <hr/>
 <ul class="wom2">
<li><a href="http://#" target="_blank">Unstitched </a></li>
<li><a href="http://#" target="_blank">Pret</a></li>
<li><a href="http://#" target="_blank">Khaas</a></li>
<li><a href="http://#" target="_blank">Bottoms</a></li>
</ul>

<ul class="man2">
 <li>Man</li>
 <li><div class="man2-icon">
 <span></span>  
 <span></span>
 <span></span>
 </div></li>
 </ul><hr/>
 <ul class="ma2">

 <li><ul class="kurtas">
 <li>Kurtas</li>
 <li><div class="kurtas-icon">
 <span></span>  
 <span></span>
 <span></span>
 </div></li>
 </ul><hr/>
 </li>
 
 <ul class="kurt">
<li><a href="http://#" target="_blank">Basic Kurta </a></li>
<li><a href="http://#" target="_blank">Kurta Shalwar</a></li>
<li><a href="http://#" target="_blank">Shalwar Kameez</a></li>
<li><a href="http://#" target="_blank">Short Kurta</a></li>
</ul>

<li><ul class="bottomss">
 <li>Bottom</li>
 <li><div class="bottomss-icon">
 <span></span>  
 <span></span>
 <span></span>
 </div></li>
 </ul><hr/>
 </li>
 
 <ul class="bott">
<li><a href="http://#" target="_blank">Pajama </a></li>
<li><a href="http://#" target="_blank">Shalwar</a></li>

</ul>
 

<li><ul class="waist">
 <li>WaistCoats</li>
 <li><div class="waist-icon">
 <span></span>  
 <span></span>
 <span></span>
 </div></li>
 </ul><hr/>
 </li>
 
  <ul class="wais">
<li><a href="http://#" target="_blank">Embroidered</a></li>
<li><a href="http://#" target="_blank">Classic</a></li>

</ul>

 
</ul>
 
<ul class="kids2">
<li>Kids</li>
<li><div class="kids2-icon">
 <span></span>
 <span></span>
 <span></span>
 </div></li>
</ul><hr/>

<ul class="kid2">
<li> <ul class="girls">
 <li>Girls Ethnic</li>
 <li><div class="girls-icon">
 <span></span>  
 <span></span>
 <span></span>
 </div></li>
 </ul>
 </li>
 <ul class="girl">
 <li><a href="http://#" target="_blank">Kurta </a></li>
 <li><a href="http://#" target="_blank">Kurta Pajama</a></li>
 <li><a href="http://#" target="_blank">Pants</a></li>
 <li><a href="http://#" target="_blank">Formal Suits</a></li>
</ul> 
 


<li><ul class="gwest">
 <li>Girls Western</li>
 <li><div class="gwest-icon">
 <span></span>  
 <span></span>
 <span></span>
 </div></li>
 </ul><hr/>
 </li>
 <ul class="gwes">
 <li><a href="http://#" target="_blank">Blouses</a></li>
 <li><a href="http://#" target="_blank">Dresses</a></li>
 <li><a href="http://#" target="_blank">Tights</a></li>
 <li><a href="http://#" target="_blank">Pants</a></li>
</ul> 
 

 
 <li><ul class="boys">
 <li>Boys Ethnic</li>
 <li><div class="boys-icon">
 <span></span>  
 <span></span>
 <span></span>
 </div></li>
 </ul><hr/>
 </li>
 <ul class="boy">
 <li><a href="http://#" target="_blank">Kurta</a></li>
 <li><a href="http://#" target="_blank">Kurta Pajama</a></li>
 <li><a href="http://#" target="_blank">WaistCoat</a></li>
 <li><a href="http://#" target="_blank">Shalwar</a></li>
</ul> 
 
<li><ul class="bwest">
 <li>Boys Western</li>
 <li><div class="bwest-icon">
 <span></span>  
 <span></span>
 <span></span>
 </div></li>
 </ul><hr/>
 </li>
 <ul class="bwes">
 <li><a href="http://#" target="_blank">Denim</a></li>
 <li><a href="http://#" target="_blank">T-Shirts</a></li>
 <li><a href="http://#" target="_blank">Shirts</a></li>
 
</ul> 

</ul>

<ul class="accessories2">
<li>Accessories</li>
<li><div class="accessories2-icon">
 <span></span>
 <span></span>
 <span></span>
 </div></li>
</ul><hr/>

<ul class="acce2">
<li><ul class="woman3">
<li>Woman</li>
<li><div class="woman3-icon">
 <span></span>
 <span></span>
 <span></span>
 </div></li>
</ul></li>
<ul class="wom3">
<li><a href="http://#" target="_blank">FootWear</a></li>
<li><a href="http://#" target="_blank">Fragrance</a></li>
<li><a href="http://#" target="_blank">Jewelry</a></li>
<li><a href="http://#" target="_blank">HandBags</a></li>
<li><a href="http://#" target="_blank">Clutches</a></li>
<li><a href="http://#" target="_blank">Scarves</a></li>
<li><a href="http://#" target="_blank">SunGlasses</a></li>
<li><a href="http://#" target="_blank">Wallets</a></li>
<li><a href="http://#" target="_blank">Dupatta</a></li>
<li><a href="http://#" target="_blank">Stole</a></li>
<li><a href="http://#" target="_blank">Tank Tops</a></li>
</ul>
<li><ul class="girls">
<li>Girls</li>
<li><div class="girls-icon">
 <span></span>
 <span></span>
 <span></span>
 </div></li>
</ul><hr/>
</li>
<ul class="girl">
<li><a href="http://#" target="_blank">Bags</a></li>
<li><a href="http://#" target="_blank">Hair Accessories</a></li>
<li><a href="http://#" target="_blank">Jewelry</a></li>

</ul>
<li><ul class="other">
<li>Others</li>
<li><div class="other-icon">
 <span></span>
 <span></span>
 <span></span>
 </div></li>
</ul><hr/>
</li>
<ul class="oth">
<li><a href="http://#" target="_blank">NoteBooks</a></li>

</ul>

</ul>

 <ul class="social-icon">
    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
	<li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
	<li><a href="#"><i class="fab fa-google-plus"></i></a></li>
	<li><a href="#"><i class="fab fa-instagram"></i></a></li>
	<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
 </ul>
 </div>
 
 <!-- section B-->
<div class="contact" class="grid">
  <div class="writeus">
  <h5>Write to Us</h5>
<form action="/#">
<ul class="write">
<li>Name:</li>
<li><input type="text" name="name"></li>
<li>Email:</li>
<li><input type="text" name="email"></li>
<li>Phone Number:</li>
<li><input type="text" name="phoneNumber"></li>
<li>Comment:</li>
<li><textarea name="comment" style="width:100%;height:50px;border:transparent;border:none;border-bottom:1px solid gray;"></textarea></li>
</br></br>
<li><input type="submit" value="Submit"></li>
</ul>
</form>
</div>

<div class="contactus">
<h5>Contact Us</h5>
<br>
<ul class="conta">
<li>Mobile:</li>

<li>+923002077214</li>
<br>
<li>Email:</li>
<li>contactus@classic.com</li>
</ul>
</div>
 
 </div>
 <!--end section B-->
 <div class="logo">
 <a href="/"><img src="../images/favicon.ico"/></a>
 </div>
 
<footer id="main-footer" class="grid">
<ul class="company">
<li>COMPNAY</li>
<li><div class="company-icon">
 <span></span>
 <span></span>
 <span></span>
 </div>
 </li>
</ul>

<div id="line"></div>

 <ul class="comp">
 <li><a href="http://localhost:3000/catalog/about">About us </a></li>
 <li><a href="http://localhost:3000/catalog/career">Careers at Classic</a></li>
 <li><a href="http://localhost:3000/catalog/contact">Contact us</a></li>
</ul> 

<ul class="customer">
<li>CUSTOMER SUPPORT</li>
<li><div class="customer-icon">
 <span></span>
 <span></span>
 <span></span>
 </div></li>
</ul>

<div id="line"></div>

<ul class="cust">
<li><a href="http://localhost:3000/catalog/customer">Customer Service </a></li>
<li><a href="http://#" target="_blank">Store Locator </a></li>
<li><a href="http://#" target="_blank">Shipping & Handling</a></li>
<li><a href="http://#" target="_blank">Return & Exchange</a></li>
<li><a href="http://#" target="_blank">Disclaimer</a></li>
</ul>
 
 <ul class="help">
 <li>HELP</li>
 <li><div class="help-icon">
 <span></span>  
 <span></span>
 <span></span>
 </div></li>
 </ul>
 
 <div id="line"></div>

 <ul class="hel">
<li><a href="http://#" target="_blank">Track Your Order </a></li>
<li><a href="http://#" target="_blank">Terms & Conditions</a></li>
<li><a href="http://#" target="_blank">Privacy Policy</a></li>
<li><a href="http://#" target="_blank">Disclaimer</a></li>
</ul>


</footer>

<div class="sign" class="grid">
<p class="news">SIGN UP FOR OUR NEWSLETTER:</p>
<form action="/#">

<ul class="sin">
<li class="si"><input type="text" name="signup" placeholder="Enter your email address: "/></li>
<li class="si"><input type="submit" id="s" value="Sign Up"/></li>
</ul>
<hr>
</form>
</div>
<div class="adver" class="grid">
<ul class="adv">
    <li><a href="#"><i class="fab fa-facebook fa-2x"></i></a></li>
	<li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
	<li><a href="#"><i class="fab fa-google-plus fa-2x"></i></a></li>
	<li><a href="#"><i class="fab fa-instagram fa-2x"></i></a></li>
	<li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>

</ul>
</div>
<div class="copy" class="grid">
<p>Copyright &copy 2018 Classic Fabrics.All Rights reserved.</p>
</div>

</body>

</html>
